<html>
<head>
	<meta charset="UTF-8" />
	<title>Balance Page</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("https://www.linkpicture.com/q/22316.jpg");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, h1,h2,h3,h4, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

h1,h2,h3,h4 {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
}

button {
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.clsUsernameLogout
{
	border: 0px solid #ff0000;
	height: 20px;
	margin: 0;
	position: absolute;
	right: 0;
	text-align: right;
    top: 0;
	width: 200px;			
}
div#divUsername
{
	border: 0px solid #00ff00;
    color: rgb(123, 155, 155);	
    right: 0;
    opacity: 1;
	position: absolute;
	text-align: center;
    top: 0;
    transition: opacity 1s ease-out;    
}
div#divLogout
{
    position: absolute;
    top: 0;
}
a#aLogout
{
    color: rgb(0, 0, 199);
    opacity: 0;	
    text-decoration: underline;
    transition: opacity 1s ease-in;        
}
.clsUsernameLogout:hover div#divUsername
{
    opacity: 0;
}
.clsUsernameLogout:hover a#aLogout
{
    opacity: 0;	
}
.clsMenu{
    text-align: center;
}

.accountNum{
background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
</style>
</head>
<body>
  <h1>Balance</h1>
  <h2>${{balance_amt}}</h2>
  <h3>Account Type:-  </h3>
  <h3>{{atype}}</h3>
  <button name="Back" type="button" id="return" value="return" onclick="redirectToHome();">Return to main page</button>
<script>
  function redirectToHome(){
    window.location.href="/home";
  }
</script>
</body>
</html>